body {
    background-color: rgba(9, 15, 42, 0.625);
    display: flex;
    flex-direction: column;
    margin-top: 2.5em;
    margin-left: 5em;
    margin-right: 5em;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: aliceblue;
}

img {
    border-radius: 400px;
}